<div class="container mt-5">
  <h1>Student: <%= @student.name + " " + @student.surname + " " + @student.second_surname %></h1>

  <p>Email: <%= @student.email %></p>
  <p>Wallet Address: <%= @student.wallet_address %></p>

  <div class="d-flex justify-content-between">
    <h2>NFTs</h2>
    <%= link_to 'Mint NFT', new_student_nft_path(@student), class: 'btn btn-primary mb-3' %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Token ID</th>
          <th>IPFS Metadata</th>
          <th>IPFS Image</th>
          <th>OPENSEA</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @student.nfts.each do |nft| %>
          <tr>
            <td><%= nft.name %></td>
            <td><%= nft.description %></td>
            <td><%= nft.token_id %></td>
            <td>
              <%= link_to nft.ipfs_metadata, "https://ipfs.io/ipfs/#{nft.ipfs_metadata}", target: "_blank" %>
            </td>
            <td>
              <%= image_tag "https://ipfs.io/ipfs/#{nft.ipfs_image}/image", alt: "#{nft.name} image", class: "img-thumbnail", width: "100" %>
            </td>
            <td><%= link_to 'View In OPENSEA', "#{ENV['OPENSEA_BASE_URL']}/assets/#{ENV['CONTRACT_NETWORK']}/#{ENV['CONTRACT_ADDRESS']}/#{nft.token_id}", target: "_blank" %></td>
            <td>
              <%= form_with url: student_nft_path(@student, nft), method: :delete, class: "d-inline" do |form| %>
                <%= form.submit "Delete", class: "btn btn-danger btn-sm", data: { turbo_confirm: "Are you sure?" } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to 'Edit', edit_student_path(@student), class: 'btn btn-warning' %>
  <%= link_to 'Back', students_path, class: 'btn btn-secondary', style: 'margin-left: 10px;' %>
</div>
