<%= form_with(model: nft, url: student_nfts_path(@student), local: true) do |form| %>
    <% if nft.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(nft.errors.count, "error") %> prohibited this nft from being saved:</h2>
  
        <ul>
          <% nft.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  
    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
  
    <div class="field">
      <%= form.label :image_temp, "Certificate Image" %>
      <%= form.file_field :image_temp %>
    </div>
  
    <div class="actions">
      <%= form.submit "Mint NFT" %>
    </div>
  <% end %>
  