<%= form_with(model: nft, url: student_nfts_path(@student), local: true) do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image_temp, "Certificate Image" %>
    <%= form.file_field :image_temp, class: "form-control-file" %>
  </div>

  <div class="form-group">
    <%= form.submit "Mint NFT", class: "btn btn-primary" %>
  </div>
<% end %>
