<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Rails Admin App</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Students', students_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
      
      <div class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <%= form_tag destroy_user_session_path, method: :delete, data: { turbo: false }, class: "nav-item" do %>
            <%= submit_tag 'Sign out', class: 'btn btn-primary' %>
          <% end %>
        <% else %>
          <div class="nav-item">
            <%= form_tag user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false } do %>
              <%= submit_tag "Sign in with Google", class: "btn btn-primary" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
